@font-face {
  font-family: 'Styrene A';
  font-display: swap;
  font-weight: 400;
  src: url('../assets/fonts/StyreneA-Regular-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Styrene A';
  font-display: swap;
  font-weight: 700;
  src: url('../assets/fonts/StyreneA-Bold-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Styrene A';
  font-display: swap;
  font-weight: 300;
  src: url('../assets/fonts/StyreneA-Light-Web.woff') format('woff');
}

// Classes
@each $size in map-keys($texts) {
  .text-#{$size} {
    @include text;
    font-size: texts-deep-get($texts, $size, 'default', 'font-size');
    line-height: texts-deep-get($texts, $size, 'default', 'line-height');

    @include media-breakpoint-up(md) {
      font-size: texts-deep-get($texts, $size, 'md', 'font-size');
      line-height: texts-deep-get($texts, $size, 'md', 'line-height');
    }
  }
}

// Custom styles
.text-label {
  font-weight: $font-weight-normal;
  margin-bottom: 4px;
  font-size: 24px;
}

.text-bold {
  font-weight: 700;
}

.text-menu {
  font-size: 13px;
  font-weight: 300;
}

// Links
.link {
  @include custom-underline($darkest);

  color: $darkest;
  text-decoration: none;

  &:hover {
    color: $darkest;
    text-decoration: none;
  }
}

.link-primary {
  @include custom-underline($primary);
  cursor: pointer;

  color: $primary;
  text-decoration: none;

  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

.link-secondary {
  @include custom-underline($secondary);
  cursor: pointer;

  color: $secondary;
  text-decoration: none;

  &:hover {
    color: $secondary;
    text-decoration: none;
  }
}

.link-menu {
  padding: 4px 8px;
  color: $white;
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}
