.container-header-wrapper {
  height: 114px;
}

.container-sticky {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 16px;

  .container-header {
    transition: background 0.2s linear;
  }

  &.is-sticky {
    .container-header {
      background: rgba(255, 255, 255, 0.35);
      border-radius: 8px;
      backdrop-filter: blur(8px);
    }
  }
}

.container-details {
  @include media-breakpoint-up(lg) {
    margin-top: 250px;
  }
}

.container-heliswap {
  background-color: $darkest;
  background-image: url('../public/container-bg.svg');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  border-radius: 16px;
  padding: 24px;

  @include media-breakpoint-up(xl) {
    padding: 24px 118px;
  }
}

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.carousel {
  &.carousel-slider {
    padding-bottom: 64px;

    @include media-breakpoint-up(lg) {
      padding-bottom: 0;
    }

    .control-arrow {
      position: absolute;
      bottom: 0;
      top: auto;
      width: 44px;
      height: 44px;
      z-index: 2;
      border: 1px solid #111111 !important;
      border-radius: 8px !important;

      display: flex;
      align-items: center;
      justify-content: center;

      &.control-prev,
      &.control-next {
        &::before {
          content: '';
          display: block;
          background-repeat: no-repeat;
          width: 24px;
          height: 24px;
          border: none;
        }

        @include media-breakpoint-up(lg) {
          top: 50%;
        }
      }

      &.control-prev {
        left: 50%;
        transform: translateY(-100%);

        @include media-breakpoint-up(lg) {
          left: 24px;
        }

        &::before {
          background-image: url('../public/icons/arrow-prev.svg');
        }
      }

      &.control-next {
        right: 50%;
        transform: translateY(-100%);

        @include media-breakpoint-up(lg) {
          right: 24px;
        }

        &::before {
          background-image: url('../public/icons/arrow-next.svg');
        }
      }

      &.control-disabled {
        display: block !important;
        opacity: 0.1 !important;
      }
    }
  }

  .slide {
    text-align: left !important;
  }
}

.container-slide {
  background-color: #fff;
  border-radius: 24px;

  padding: 24px;

  @include media-breakpoint-up(lg) {
    padding: 70px 24px;
  }
}

.icon-social {
  display: block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: center center;

  &.is-twitter {
    background-image: url('../public/icons/icon-twitter.svg');
  }

  &.is-discord {
    background-image: url('../public/icons/icon-discord.svg');
  }

  &.is-telegram {
    background-image: url('../public/icons/icon-telegram.svg');
  }
}
